<div class="container" style="padding-left: 45px;   margin-top:20px; padding-bottom: 300px;  min-height: 700px;">

  <div class="row">

      <div class="col-xl-12">

          <div class="card">

            <div class="container">
              <div style="display: flex;margin-top: -15px;">
                <img src="assets/LogoPV.png" style="width: 300px">
                <img src="assets/9001ISO.png" style="width: 180px; height: 70px; margin-left: 230px;">
                <img src="assets/14001ISO-removebg-preview.png" style="width: 180px; height: 93px;">
                <img src="assets/iso-45001.png" style="width: 180px; height: 147px;   ; margin-left: -27px;     margin-top: -38px; ">
                <img src="assets/iso50001.png" style="width: 180px; height: 72px; ">
                </div>
              <div class="card-body" style="padding-block: 50px;">
                  <h5 class="header-title pb-3 mt-0">Livraison</h5>
                  <div class="justify-content-center row">
                    <div class="col-lg-12">
                        <div class="candidate-list-widgets mb-4">
                            <form action="#" class="">
                                <div class="g-2 row">
                                    <div class="col-lg-3">
                                        <div class="filler-job-form">
                                            <i class="uil uil-briefcase-alt"></i><input id="exampleFormControlInput1" placeholder="Recherche... "  name="searchItem" type="search" class="form-control filler-job-input-box form-control" />
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="filler-job-form">
                                            <i class="uil uil-location-point"></i>
                                            <select class="form-select selectForm__inner" data-trigger="true" name="Choix1" id="choices-single-location" aria-label="Default select example">
                                                <option value="">Filtrer selon les dates</option>
                                                <option value="DL">Puissance</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="filler-job-form">
                                            <i class="uil uil-clipboard-notes"></i>
                                            <select class="form-select selectForm__inner" data-trigger="true" name="Choix2"  id="choices-single-categories" aria-label="Default select example">
                                                <option value="">Saisir Type de filtre</option>
                                                <option value="A">Ascendant</option>
                                                <option value="D">Descendant</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div>
                                          <a href="javascript:void(0)" class="btn btn-primary btn" style="background-color: #122151; border-color: #122151;">Rechercher</a>&nbsp;
                                          <a href="javascript:void(0)" class="btn btn-default btn"  >Filtrer</a>&nbsp;
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default" style="padding-block: 10px;">

                  <div class="table-responsive" style="width: fit-content;">
                    <table class="table table-hover mb-0" >
                        <thead>
                            <tr class="align-self-center">
                              <th rowspan="2">Date</th>
                              <th rowspan="2">N'BL</th>
                              <th rowspan="2">Client</th>
                              <th colspan="2">Produit à livrer</th>
                              <th colspan="7">Accessoires</th>
                              <th colspan="4">Approbations et signatures</th>
                            </tr>
                            <tr class="align-self-center">
                              <th>Numero</th>
                              <th>Puissance KVA</th>
                              <th style="writing-mode: vertical-rl; text-orientation: mixed;">Thermostat</th>
                              <th style="writing-mode: vertical-rl; text-orientation: mixed;">Galet</th>
                              <th style="writing-mode: vertical-rl; text-orientation: mixed;">Borne</th>
                              <th style="writing-mode: vertical-rl; text-orientation: mixed;">Asscheur</th>
                              <th style="writing-mode: vertical-rl; text-orientation: mixed;">Capot</th>
                              <th style="writing-mode: vertical-rl; text-orientation: mixed;">Relais</th>
                              <th style="writing-mode: vertical-rl; text-orientation: mixed;">SANS</th>
                              <th>Contrôle qualité</th>
                              <th>R. laboratoire</th>
                              <th>R. Production</th>
                              <th>Client</th>
                            </tr>
                            <tr *ngFor="let transformateur of list">
                              <td style="white-space: nowrap;color: #122151;">{{ this.transformateur.date | date:'yyyy-MM-dd' }}</td>
                              <td style="color: #122151;">123456</td>
                              <td style="color: #122151;">{{this.transformateur.client}}</td>
                              <td style="color: #122151;">{{this.transformateur.numero}}</td>
                              <td style="color: #122151;">{{this.transformateur.power}}</td>
                              <td><span class="fa fa-check text-primary"></span></td>
                              <td><span class="fa fa-times text-danger"></span></td>
                              <td><span class="fa fa-check text-primary"></span></td>
                              <td><span class="fa fa-times text-danger"></span></td>
                              <td><span class="fa fa-check text-primary"></span></td>
                              <td><span class="fa fa-times text-danger"></span></td>
                              <td><span class="fa fa-check text-primary"></span></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                            </tr>
                        </thead>
                        <tbody>

                      </tbody>

                    </table>
                </div>
                </div>
          </div>
      </div>
  </div>
</div>
