<html >
  <head>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap" rel="stylesheet">

  </head>
  <body class="printable">
    <div class="area"></div><nav class="main-menu" >
            <ul>
                <li>
                    <a href="Edit_profile">
                      <i class="fa fa-user"></i>
                      <span class="nav-text">
                           Profil
                        </span>
                    </a>
                </li>
                <li class="has-subnav">
                    <a href="./Transformateur">
                        <i class="fa fa-bolt fa-2x"></i>
                        <span class="nav-text">
                            Transformateur
                        </span>
                    </a>
                </li>
                <li class="has-subnav">
                    <a href="./Planification">
                      <i class="fa fa-cogs"></i> <!-- Gears icon -->
                      <span class="nav-text">
                        Suivi de la production
                        </span>
                    </a>
                </li>
                <li>
                  <a href="#">
                      <i class="fa fa-wrench fa-2x"></i>
                      <span class="nav-text">
                          Suivi de la réparation
                      </span>
                  </a>
              </li>
              
                <li>
                    <a href="./Livraison">
                      <i class="fa fa-truck"></i>
                      <span class="nav-text">
                            Livraison
                        </span>
                    </a>
                </li>

                <li class="has-subnav">
                  <a href="./Utilisateurs">
                    <i class="fa fa-users fa-2x"></i>
                    <span class="nav-text">
                      Gestion du personnel
                      </span>
                  </a>
              </li>
              <li>
                  <a href="#">
                    <i class="fa fa-line-chart"></i> <!-- Chart icon -->
                    <span class="nav-text">
                          Tableau de bord
                      </span>
                  </a>
              </li>

                <li>
                   <a href="#">
                        <i class="fa fa-map-marker fa-2x"></i>
                        <span class="nav-text">
                            Processus 8
                        </span>
                    </a>
                </li>
                <li>
                    <a href="#">
                       <i class="fa fa-info fa-2x"></i>
                        <span class="nav-text">
                            Processus 9
                        </span>
                    </a>
                </li>
            </ul>

            <ul class="logout">
                <li>
                   <a href="#" (click)="Disconnect()" *ngIf="ServiceS.hasSession()">
                         <i class="fa fa-power-off fa-2x"></i>
                        <span class="nav-text">
                            Déconnexion
                        </span>

                    </a>
                </li>
            </ul>
        </nav>
  </body>
    </html>
