body {
    margin-top: 20px;
    font-family: 'Montserrat', sans-serif;
}

.footer {
    background: #060620;
    padding-bottom: 15px;
    padding-top: 15px;
}

.footer_menu {
    margin-bottom: 20px;
    animation: fadeInUp 1s ease-in-out;
}

.footer_menu ul {
    list-style: none;
    text-align: center;
}

.footer_menu ul li {
    display: inline-block;
    margin: 0 10px;
}

.footer_menu ul li a {
    color: #fff;
    padding: 0 15px;
    transition: color 0.3s ease-in-out;
}

.footer_menu ul li a:hover {
    color: #554c86;
}

.footer_profile {
    margin-bottom: 40px;
    animation: bounceIn 1s ease-in-out;
}

.footer_profile ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer_profile ul li {
    display: inline-block;
    margin: 0 5px;
    animation: fadeIn 1s ease-in-out;
}

.footer_profile ul li a img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: transform 0.3s ease-in-out;
}

.footer_profile ul li a:hover img {
    transform: scale(1.2);
}

.footer_profile ul li a {
    background: #554c86;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    text-decoration: none;
    transition: background 0.3s ease-in-out, transform 0.3s ease-in-out;
    color: #fff;
}

.footer_profile ul li a:hover {
    background: #fff;
    color: #554c86;
    transform: scale(1.1);
}

.footer_copyright {
    margin-bottom: 20px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    color: #fff;
    animation: slideInUp 1s ease-in-out;
}

/* Animation Keyframes */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes bounceIn {
    from {
        opacity: 0;
        transform: scale(0.8);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
@media print {
  .printable {
    display: none;
  }
}

