
.card {
  border: none;
  -webkit-box-shadow: 1px 0 20px rgba(96,93,175,.05);
  box-shadow: 1px 0 20px rgba(96,93,175,.05);
  margin-bottom: 30px;
}
.table th {
  font-weight: 500;
  color: #827fc0;
}
.table thead {
  background-color: #f3f2f7;
}
.table>tbody>tr>td, .table>tfoot>tr>td, .table>thead>tr>td {
  padding: 14px 12px;
  vertical-align: middle;
}
.table tr td {
  color: #8887a9;
}
.thumb-sm {
  height: 32px;
  width: 32px;
}
.badge-soft-warning {
  background-color: rgba(85, 126, 248, 0.2);
  color: #122151;
}

.badge {
  font-weight: 500;
}
.badge-soft-primary {
  background-color: rgba(96,93,175,.2);
  color: #605daf;
}
/* General styles */


/* Card styles */
.card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  padding: 15px;
  margin-top: 20px;
  background-color: #fff;
  border: 1px solid #eee;
  transition: box-shadow 0.3s, transform 0.3s;
}

.card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
}

/* Avatar styles */
.avatar.sm {
  width: 3rem;
  height: 3rem;
  font-size: 1rem;
  border-radius: 50%;
  transition: transform 0.3s;
}

.avatar.sm:hover {
  transform: scale(1.1);
}

/* Table styles */
.table {
  font-size: 1rem;
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.table th, .table td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ccc;
}

.table th {
  font-weight: 600;
  background-color: #f0f0f0;
  color: #333;
}

.table tbody tr:hover {
  background-color: #f9f9f9;
}



/* Hover effect for table rows */
.table tbody tr:hover {
  background-color: #f9f9f9; /* Light gray hover background */
}


.masthead:hover {
  color: #ff7f50; /* Highlight color on hover */
}



/* Add this CSS to your stylesheet */
tbody tr {
  cursor: pointer;
  transition: background-color 0.3s ease; /* Add a smooth transition effect */
}

tbody tr:hover {
  background-color: #f0f0f0; /* Change the background color on hover */
}


/* Style for datetime-local input */
input[type="datetime-local"] {
  /* Remove default styles */
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  /* Customize border and padding */
  border: 0px ;
  padding: 8px 12px;
  /* Set font size and color */
  font-size: inherit;
  color: inherit;
  /* Set background color */
  background-color: transparent; /* transparent background */
  /* Add transition for smooth change */
  transition: border-color 0.3s ease-in-out;
}

/* Style for datetime-local input when focused */
input[type="datetime-local"]:focus {
  /* Change border color when focused */
  border-color: #80bdff; /* example color */
}
::ng-deep .p-dropdown-items-wrapper ol,
::ng-deep .p-dropdown-items-wrapper ul {
    padding-left: 1em;
}

::ng-deep .p-paginator
{
  justify-content: right;
}

.p-paginator {
  z-index: 9999; /* Set a high z-index value to ensure it appears above other content */
}
