<div class="container" style="padding-left: 45px;   margin-top:20px; padding-bottom: 100px;  min-height: 700px;">

  <div class="row">

      <div class="col-xl-12">

          <div class="card">

            <div class="container">

              <div class="card-body">

                  <h5 class="header-title pb-3 mt-0">Planification</h5>
                  <div class="justify-content-center row">
                    <div class="col-lg-12">
                        <div class="candidate-list-widgets mb-4">
                            <form action="#" class="">
                                <div class="g-2 row">
                                    <div class="col-lg-3">
                                        <div class="filler-job-form">
                                            <i class="uil uil-briefcase-alt"></i><input id="exampleFormControlInput1" placeholder="Recherche... " [(ngModel)]="searchItem" name="searchItem" type="search" class="form-control filler-job-input-box form-control" />
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="filler-job-form">
                                            <i class="uil uil-location-point"></i>
                                            <select class="form-select selectForm__inner" data-trigger="true" name="choices-single-location" id="choices-single-location" aria-label="Default select example">
                                                <option value="AF">Date de lancement</option>
                                                <option value="AX">Date de production</option>
                                                <option value="AL">Date d'essai</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="filler-job-form">
                                            <i class="uil uil-clipboard-notes"></i>
                                            <select class="form-select selectForm__inner" data-trigger="true" name="choices-single-categories" id="choices-single-categories" aria-label="Default select example">
                                                <option value="4">Conforme</option>
                                                <option value="1">Non Conforme</option>
                                                <option value="3">En attente</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div>
                                          <a href="javascript:void(0)" class="btn btn-primary btn" style="background-color: #122151; border-color: #122151;" (click)="Search()">Rechercher</a>&nbsp;
                                          <a href="javascript:void(0)" class="btn btn-default btn">Filtrer</a>&nbsp;
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                  <div class="table-responsive">
                      <table class="table table-hover mb-0">
                          <thead>
                              <tr class="align-self-center">
                                  <th>Num Transformateur</th>
                                  <th>Type</th>
                                  <th>Puissance</th>
                                  <th>Date de lancement</th>
                                  <th>Date de fin production</th>
                                  <th>Date d'essai</th>
                                  <th>Resultat Essai</th>
                                  <th>Date de livraison</th>
                              </tr>
                          </thead>
                          <tbody>
                              <tr *ngFor="let transformateur of list">
                                  <td>
                                    <img *ngIf="transformateur.type==='Triphasés' " src="assets/mono.png" class="avatar sm rounded-pill me-3 flex-shrink-0" alt="Customer">
                                    <img *ngIf="transformateur.type==='Monophasés' " src="assets/triphaser.png" class="avatar sm rounded-pill me-3 flex-shrink-0" alt="Customer">
                                    <img *ngIf="transformateur.type==='Résine' " src="assets/resine.png" class="avatar sm rounded-pill me-3 flex-shrink-0" alt="Customer">
                                    {{transformateur.numero}}
                                  </td>
                                  <td> {{transformateur.type}} </td>
                                  <td> {{transformateur.power}}Kva </td>
                                  <td> {{transformateur.date| date:'yyyy-MM-dd'}} </td>
                                  <td>IDK</td>
                                  <td>{{ transformateur.pv?.date | date:'yyyy-MM-dd' }}</td>
                                  <td><span class="badge badge-boxed badge-soft-warning">{{transformateur.pv?.resultat}}</span></td>
                                  <td>IDK</td>
                              </tr>
                          </tbody>
                      </table>
                  </div>
                  <!--end table-responsive-->
              </div>
          </div>
      </div>
  </div>
</div>
