/* General styles */
body {
  font-family: 'Roboto', Arial, sans-serif;
  background-color: #f8f8f8;
  color: #444;
  margin: 0;
  transition: background-color 0.3s, color 0.3s;
}

/* Card styles */
.card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  padding: 15px;
  margin-top: 20px;
  background-color: #fff;
  border: 1px solid #eee;
  transition: box-shadow 0.3s, transform 0.3s;
}

.card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
}

/* Avatar styles */
.avatar.sm {
  width: 3rem;
  height: 3rem;
  font-size: 1rem;
  border-radius: 50%;
  transition: transform 0.3s;
}

.avatar.sm:hover {
  transform: scale(1.1);
}


.back{
  background-image: url('https://source.unsplash.com/BtbjCFUvBXs/1920x1080');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.masthead:hover {
  color: #ff7f50; /* Highlight color on hover */
}
.drodown a i {
  transition: transform 0.3s ease-in-out;
}

.drodown a:hover i {
  transform: scale(1.2) rotate(20deg);
}

.fa-warning:before, .fa-exclamation-triangle:before {
  color: darkred;
  content: "\f071";
}
.popup-content {
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}
.icon-1x {
  font-size: 24px !important;
}
a{
  text-decoration:none;
}
.text-primary, a.text-primary:focus, a.text-primary:hover {
  color: #00ADBB!important;
}
.text-black, .text-hover-black:hover {
  color: #000 !important;
}
.font-weight-bold {
  font-weight: 700 !important;
}
/* Hover effect for icons */
.fa-check-circle:hover {
  color: green; /* Change the color as needed */
  transform: scale(1.2);
}

.fa-hourglass:hover {
  color: blue; /* Change the color as needed */
  transform: scale(1.2);
}

.fa-exclamation-triangle:hover {
  color: orange; /* Change the color as needed */
  transform: scale(1.2);
}

::ng-deep .p-dropdown-items-wrapper ol,
::ng-deep .p-dropdown-items-wrapper ul {
    padding-left: 1em;
}

::ng-deep .p-paginator
{
  justify-content: right;
}

.p-paginator {
  z-index: 9999; /* Set a high z-index value to ensure it appears above other content */
}
/* CSS to style the image when there is no data */
.no-data-image {
  width: 100px; /* Adjust the width as needed */
  align-self: center;
  padding-top: 5vh;
  opacity: 0.5;
  padding-bottom: 5vh;
  /* You can adjust the opacity to make it appear faded */
  /* You can add more styling properties as needed */
}
::ng-deep .p-splitbutton {
  font-size: 14px; /* Increase font size */
  border-radius: 4px; /* Add some border radius for a modern look */
}

::ng-deep .p-splitbutton .p-button {
  padding: 8px 16px; /* Increase padding */
}

::ng-deep .p-splitbutton .p-splitbutton-icon {
  width: 20px; /* Increase icon width */
  height: 20px; /* Increase icon height */
  margin-right: 4px; /* Add some spacing between the icon and text */
}

::ng-deep .p-splitbutton .p-splitbutton-icon .p-button-icon {
  font-size: 16px; /* Adjust icon size */
}

/* Optional: Add some hover effect for a modern feel */
::ng-deep .p-splitbutton:hover {
  background-color: #f0f0f0;
}

::ng-deep .p-splitbutton .p-menu {
  padding-left: 0;
}
::ng-deep .p-tieredmenu-root-list {
  padding-left: 0 !important;
}
::ng-deep .p-tieredmenu.p-tieredmenu-overlay {
  width: fit-content;
  background: #ffffff;
  border: 0 none;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
}
::ng-deep .p-ripple.p-element.p-menuitem-link.ng-star-inserted {
  text-decoration: none !important;
}
