<!-- Your HTML component -->
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
<header class="back" style="padding-bottom: 10vh;padding-left: 8vh;">
  <div class="container">
    <div class="row">
      <div class="col-xl-3 col-md-6">
        <div class="card bg-pattern">
          <div class="card-body" style="text-align: center;">
              <div style="padding-right: 0px;">
                  <i class="fa fa-check-circle text-success h4 ml-3 fa-solid"></i>
              </div>
              <h5 class="font-size-20 mt-0 pt-1">{{nbConforme}}</h5>
              <p class="text-muted mb-0">Conforme Total</p>
          </div>
      </div>
      </div>
      <div class="col-xl-3 col-md-6">
          <div class="card bg-pattern">
            <div class="card-body" style="text-align: center;">
              <div style="padding-right: 0px;">
                <i class="fa fa-hourglass text-primary h4 ml-3"></i>
              </div>
              <h5 class="font-size-20 mt-0 pt-1">{{nbAttente}}</h5>
              <p class="text-muted mb-0">En Attente Total</p>
          </div>
          </div>
      </div>
      <div class="col-xl-3 col-md-6">
        <div class="card bg-pattern">
            <div class="card-body" style="text-align: center;">
              <div style="padding-right: 0px;">
                <i class="fa fa-exclamation-triangle text-warning h4 ml-3"></i>
                </div>
                <h5 class="font-size-20 mt-0 pt-1">{{nbNonConforme}}</h5>
                <p class="text-muted mb-0">Non conforme Total</p>
            </div>
        </div>
    </div>

      <div class="col-xl-3 col-md-6">
          <div class="card">
              <div class="card-body">
                  <form>
                      <div class="form-group mb-0">
                          <label>Rercherche</label>
                          <div class="input-group mb-0">
                              <input type="text" class="form-control" placeholder="Rercherche..." name="searchItem" aria-describedby="project-search-addon" [(ngModel)]="searchItem"/>
                              <div class="input-group-append">
                                  <button class="btn btn-danger" type="button" id="project-search-addon" (click)="Search()"><i class="fa fa-search search-icon font-12"></i></button>
                              </div>
                          </div>
                      </div>
                  </form>
              </div>
          </div>
      </div>
  </div>
  <!-- end row -->
    <div class="row">
      <div class="col-12 mb-3 mb-lg-5">
        <div class="overflow-hidden card table-nowrap table-card">
          <div class="card-header d-flex justify-content-between align-items-center">
            <h5 class="mb-0">List des Transformateurs</h5>
            <a href="" class="btn btn-light btn-sm" href="Add_transformateur">Ajouter</a>
          </div>
          <div class="table-responsive">
            <table class="table mb-0">
              <thead class="small text-uppercase bg-body text-muted">
                <tr>
                  <th>Marque</th>
                  <th>Numero</th>
                  <th>Client</th>
                  <th>Type</th>
                  <th>Conclusion</th>
                  <th>Controleur</th>
                  <th class="text-end">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let transformateur of list" class="align-middle">
                  <td>
                    <div class="d-flex align-items-center">
                      <img *ngIf="transformateur.type==='Monophasés' " src="assets/mono.png" class="avatar sm rounded-pill me-3 flex-shrink-0" alt="Customer">
                      <img *ngIf="transformateur.type==='Triphasés' " src="assets/triphaser.png" class="avatar sm rounded-pill me-3 flex-shrink-0" alt="Customer">
                      <img *ngIf="transformateur.type==='Biphasés' " src="assets/resine.png" class="avatar sm rounded-pill me-3 flex-shrink-0" alt="Customer">
                      <div>
                        <div class="h6 mb-0 lh-1">{{ transformateur.marque }}</div>
                      </div>
                    </div>
                  </td>
                  <td>{{ transformateur.numero }}</td>
                  <td><span class="d-inline-block align-middle">{{ transformateur.client }}</span></td>
                  <td><span>{{ transformateur.type }}</span></td>
                  <td>{{transformateur.pv?.resultat}}</td>
                  <td><span>{{ transformateur.pv?.controleurDeQualite?.username }}</span></td>
                  <td class="text-end">
                    <div class="drodown">
                      <a data-bs-toggle="dropdown" href="#" class="btn p-1" aria-expanded="false">
                        <i class="fa fa-bars" aria-hidden="true"></i>
                      </a>
                      <div class="dropdown-menu dropdown-menu-end">
                        <a [routerLink]="['/Ajouter_Transformateur', transformateur.numero]"  class="dropdown-item">Voir les détails</a>
                        <!-- Replace the anchor tag with a button -->
                        <button type="button" class="dropdown-item"  (click)="confirm1(transformateur.numero)">Supprimer</button>
                        <a [routerLink]="['/Essai_Transformateur', transformateur.numero]"  class="dropdown-item">Essais</a>
                    </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <p-paginator (onPageChange)="onPageChange($event)" [first]="first" [rows]="rows"  [totalRecords]="totalRecords" [rowsPerPageOptions]="[10, 20, 30]"></p-paginator>
        </div>
      </div>
    </div>
  </div>

</header>
<p-toast></p-toast>
<p-confirmDialog></p-confirmDialog>



