
<header style="background-color: whitesmoke;padding-bottom: 10%;">
  <div style="padding-left: 7%;padding-right: 3%;padding-top: 2%;">
    <div class="row row-cols-1 row-cols-md-2 row-cols-xl-4">
           <div class="col">
         <div class="card radius-10 border-start border-0 border-3 border-info" style="background: #ffffff; /* fallback for older browsers */
         background: linear-gradient(to right, #ffffff, #f0f0f0);
         ">
          <div class="card-body">
            <div class="d-flex align-items-center">
              <div>
                <p class="mb-0 text-secondary">Total Orders</p>
                <h4 class="my-1 text-info">4805</h4>
                <p class="mb-0 font-13">+2.5% from last week</p>
              </div>
              <div class="widgets-icons-2 rounded-circle bg-gradient-scooter text-white ms-auto"><i class="fa fa-shopping-cart"></i>
              </div>
            </div>
          </div>
         </div>
         </div>
         <div class="col">
        <div class="card radius-10 border-start border-0 border-3 border-danger" style="background: #ffffff; /* fallback for older browsers */
        background: linear-gradient(to right, #ffffff, #f0f0f0);">
           <div class="card-body">
             <div class="d-flex align-items-center">
               <div>
                 <p class="mb-0 text-secondary">Total Revenue</p>
                 <h4 class="my-1 text-danger">$84,245</h4>
                 <p class="mb-0 font-13">+5.4% from last week</p>
               </div>
               <div class="widgets-icons-2 rounded-circle bg-gradient-bloody text-white ms-auto"><i class="fa fa-dollar"></i>
               </div>
             </div>
           </div>
        </div>
        </div>
        <div class="col">
        <div class="card radius-10 border-start border-0 border-3 border-success" style="background: #ffffff; /* fallback for older browsers */
        background: linear-gradient(to right, #ffffff, #f0f0f0);">
           <div class="card-body">
             <div class="d-flex align-items-center">
               <div>
                 <p class="mb-0 text-secondary">Bounce Rate</p>
                 <h4 class="my-1 text-success">34.6%</h4>
                 <p class="mb-0 font-13">-4.5% from last week</p>
               </div>
               <div class="widgets-icons-2 rounded-circle bg-gradient-ohhappiness text-white ms-auto"><i class="fa fa-bar-chart"></i>
               </div>
             </div>
           </div>
        </div>
        </div>
        <div class="col">
        <div class="card radius-10 border-start border-0 border-3 border-warning" style="background: #ffffff; /* fallback for older browsers */
        background: linear-gradient(to right, #ffffff, #f0f0f0);">
           <div class="card-body">
             <div class="d-flex align-items-center">
               <div>
                 <p class="mb-0 text-secondary">Total Customers</p>
                 <h4 class="my-1 text-warning">8.4K</h4>
                 <p class="mb-0 font-13">+8.4% from last week</p>
               </div>
               <div class="widgets-icons-2 rounded-circle bg-gradient-blooker text-white ms-auto"><i class="fa fa-users"></i>
               </div>
             </div>
           </div>
        </div>
        </div>
      </div>
    </div>
<div class="container">


  <div class="f card">
    <p-chart type="pie" [data]="data" ></p-chart>
  </div>
  <div class="g card" style="justify-content: end;">
    <p-chart type="bar" [data]="date2"></p-chart>
  </div>

  <div class="k card">

    <p-table
    *ngIf="visible"
     [value]="Etape"
     selectionMode="single"
     [resizableColumns]="true"
     currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
     [rows]="10"
     [showCurrentPageReport]="true"
     [rowsPerPageOptions]="[10, 25, 50]"
     [paginator]="true">
     <ng-template pTemplate="caption">
      <div class="flex" style="display: flex; align-items: center;">
        <button pButton label="Retourner" class="p-button-outlined" icon="pi pi-arrow-left" (click)="show()"></button>
        <button pButton  class="p-button-outlined" icon="pi pi-refresh" (click)="ResetList2()"></button>

        <span class="p-input-icon-left" style="margin-left: auto;">
            <i class="pi pi-search"></i>
            <input pInputText type="text" [(ngModel)]="searchkey" (ngModelChange)="Search2()" placeholder="Mot-clé à rechercher" />
        </span>
      </div>
    </ng-template>
      <ng-template pTemplate="header" let-columns>
          <tr>
              <th>Index</th>
              <th>Nom<p-columnFilter type="text" field="nom" display="menu"></p-columnFilter></th>
              <th>Date Debut<p-columnFilter type="text" field="dateDebut" display="menu"></p-columnFilter></th>
              <th>Date Fin<p-columnFilter type="text" field="dateFin" display="menu"></p-columnFilter></th>
              <th>Operateur 1<p-columnFilter type="text" field="operateur1" display="menu"></p-columnFilter></th>
              <th>Operateur 2<p-columnFilter type="text" field="operateur2" display="menu"></p-columnFilter></th>
              <th>Controleur<p-columnFilter type="text" field="controleur" display="menu"></p-columnFilter></th>
              <th>Verificateur<p-columnFilter type="text" field="verificateur" display="menu"></p-columnFilter></th>
              <th>
                Progrés de L'etape
                <i class="pi pi-chart-bar" style="font-size: 1rem; cursor: pointer;"></i>
            </th>

              <th>Resultat Final<p-columnFilter type="text" field="resultat" display="menu"></p-columnFilter></th>
              <th>Traiter<p-columnFilter type="text" field="traitement" display="menu"></p-columnFilter></th>

          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-etape let-columns="columns" let-i="rowIndex">
          <tr>
            <td>{{i}}</td>
            <td>{{ etape.nom}}</td>
            <td>{{ etape.dateDebut ? etape.dateDebut.toString().split('T')[0] : 'En Cours' }}</td>
            <td>{{ etape.dateFin ? etape.dateFin.toString().split('T')[0] : 'En Cours' }}</td>

            <td>{{ etape.operateur1 || 'Aucun' }}</td>
            <td>{{ etape.operateur2 || 'Aucun' }}</td>
            <td>{{ etape.controleur || 'Aucun' }}</td>
            <td>{{ etape.verificateur || 'Aucun' }}</td>

            <p-progressBar
            class="clickable-progress-bar"
            [value]="etape.traitement === 'Oui' ? 100 : Bobinage_Progress"
            *ngIf="etape.nom === 'BT1' || etape.nom === 'BT2' || etape.nom === 'BT3'"
            [showValue]="false">
        </p-progressBar>

        <p-progressBar
        class="clickable-progress-bar"
        [value]="etape.traitement === 'Oui' ? 100 : BobinageMT_Progress"
        *ngIf="etape.nom === 'MT1' || etape.nom === 'MT2' || etape.nom === 'MT3'"
        [showValue]="false">
    </p-progressBar>

    <p-progressBar
    class="clickable-progress-bar"
    [value]="etape.traitement === 'Oui' ? 100 : Magnetique_Progress"
    *ngIf="etape.nom === 'Decoupage CM' || etape.nom === 'Montage CM'"
    [showValue]="false">
</p-progressBar>

<p-progressBar
    class="clickable-progress-bar"
    [value]="etape.traitement === 'Oui' ? 100 : Montage_Progress"
    *ngIf="etape.nom === 'Calage' || etape.nom === 'Fermeture' || etape.nom === 'Cablage BT' || etape.nom === 'Cablage MT'"
    [showValue]="false">
</p-progressBar>

<p-progressBar
    class="clickable-progress-bar"
    [value]="etape.traitement === 'Oui' ? 100 : Ecuvage_Progress"
    *ngIf="etape.nom === 'Etuvage' || etape.nom === 'Encuvage'"
    [showValue]="false">
</p-progressBar>

<p-progressBar
    class="clickable-progress-bar"
    [value]="etape.traitement === 'Oui' ? 100 : Remplissage_Progress"
    *ngIf="etape.nom === 'Remplissage' || etape.nom === 'Etancheite'"
    [showValue]="false">
</p-progressBar>


<p-progressBar
    class="clickable-progress-bar"
    [value]="etape.traitement === 'Oui' ? 100 : Peinture_Progress"
    *ngIf="etape.nom === 'Peinture'"
    [showValue]="false">
</p-progressBar>


<p-progressBar
    class="clickable-progress-bar"
    [value]="etape.traitement === 'Oui' ? 100 : Conseption_Progress"
    *ngIf="etape.nom === 'Chaudronnerie'"
    [showValue]="false">
</p-progressBar>

            <td>
              <p-tag [value]="etape.resultat" [severity]="getSeverity2(etape.resultat)"></p-tag>
            </td>
            <td>
              <ng-container *ngIf="etape.traitement === 'Aucun' && etape.resultat === 'Non conforme'">
                  Non
              </ng-container>
              <ng-container *ngIf="etape.traitement !== 'Aucun' || etape.resultat !== 'Non conforme'">
                  {{ etape.traitement }}
              </ng-container>
              <ng-container *ngIf="etape.traitement === 'Oui'">
                  <i class="pi pi-check-circle" style="color: #34d73a;"></i> <!-- Display a green check mark icon -->
              </ng-container>
              <ng-container *ngIf="etape.traitement === 'Non' || (etape.traitement === 'Aucun' && etape.resultat === 'Non conforme')">
                  <i class="pi pi-times-circle text-danger"></i> <!-- Display a red cross mark icon -->
              </ng-container>
              <ng-container *ngIf="etape.traitement === 'Aucun' && etape.resultat !== 'Non conforme'">
                  <i class="pi pi-question-circle text-muted"></i> <!-- Display a gray question mark icon -->
              </ng-container>
          </td>
                    </tr>

      </ng-template>

  </p-table>

      <p-table
      #dt1
      *ngIf="!visible"
      [value]="list"
      dataKey="numero"
      [rows]="10"
      [showCurrentPageReport]="true"
      [rowsPerPageOptions]="[10, 25, 50]"
      [paginator]="true"
      selectionMode="single"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      [globalFilterFields]="['numero', 'date', 'dateLivraison', 'dateFin', 'type', 'puissance', 'dateLancement', 'datePrevue', 'dateCloture', 'dateFinProduction', 'resultatProduction', 'dateEssai', 'resultatEssai']"
      >
      <ng-template pTemplate="caption">
        <div class="flex" style="display: flex; align-items: center;">
          <button pButton label="Actualiser" class="p-button-outlined" icon="pi pi-refresh" (click)="ResetList()"></button>
          <span class="p-input-icon-left" style="margin-left: auto;">
              <i class="pi pi-search"></i>
              <input pInputText type="text" [(ngModel)]="searchkey" (ngModelChange)="Search()" placeholder="Mot-clé à rechercher" />
          </span>
      </div>

      </ng-template>
      <ng-template pTemplate="header">
          <tr>
              <th style="min-width:10rem">Index</th>
              <th style="min-width:10rem">Numero  <p-columnFilter type="numeric" field="numero" display="menu"></p-columnFilter> </th>
              <th style="min-width:15rem">Type <p-columnFilter type="text" field="type" display="menu"></p-columnFilter></th>
              <th style="min-width:15rem">Mission <p-columnFilter type="text" field="etat" display="menu"></p-columnFilter></th>

              <th style="min-width:15rem" pSortableColumn="power">Puissance <p-sortIcon field="power"></p-sortIcon></th>

              <th style="min-width:15rem"> Commande  <p-columnFilter type="numeric" field="commande" display="menu"></p-columnFilter></th>


              <th style="min-width:15rem">Date de Lancement  <p-columnFilter type="text" field="dateLivraison" display="menu"></p-columnFilter></th>

              <th style="min-width:15rem">Date de Prevue <p-columnFilter type="text" field="dateprevue" display="menu"></p-columnFilter></th>
              <th style="min-width:15rem">Date de Cloture <p-columnFilter type="text" field="dateCloture" display="menu"></p-columnFilter></th>

              <th style="min-width:15rem">Date Fin Production <p-columnFilter type="text" field="dateFin" display="menu"></p-columnFilter></th>
              <th style="min-width:15rem">Resultat Production </th>
              <th style="min-width:15rem">Date de Livraison <p-columnFilter type="text" field="dateLivraison" display="menu"></p-columnFilter></th>

              <th style="min-width:15rem">Date de Essai <p-columnFilter type="text" field="pv.date" display="menu"></p-columnFilter></th>
              <th style="min-width:15rem">Resultat de Essai <p-columnFilter type="text" field="pv.resultat" display="menu"></p-columnFilter></th>

          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-transformateur let-i="rowIndex">
          <tr>
              <td>{{ i }}</td>
              <td>{{ transformateur.numero }}</td>
              <td>{{ transformateur.type }}</td>
              <td>{{ transformateur.etat }}</td>
              <td>{{ transformateur.power }}</td>
              <td>{{ transformateur.commande }}</td>

              <td>{{ transformateur.date.toString().split('T')[0] }}</td>
              <td>{{ transformateur.dateprevue.toString().split('T')[0] }}</td>
              <td>{{ transformateur.dateCloture.toString().split('T')[0] }}</td>


              <td>{{ transformateur.dateFin !== "0001-01-01T00:00:00" ? transformateur.dateFin.toString().split('T')[0] : 'En Cours' }}</td>
              <td>
                <div *ngIf="transformateur.etat !== 'Production'; else productionProgress">
                  Pas de production
                </div>
                <ng-template #productionProgress>
                  <p-progressBar class="clickable-progress-bar" [value]="Resultat_de_Production(transformateur.etapes)" (click)="show();Results(transformateur.numero)" [showValue]="false"></p-progressBar>
                </ng-template>
              </td>
              <td>
                {{ transformateur.dateLivraison !== "0001-01-01T00:00:00" ? transformateur.dateLivraison.toString().split('T')[0] : 'En Cours' }}
              </td>
              <td>{{ transformateur.pv.date.toString().split('T')[0] }}</td>
              <td>
                <p-tag [value]="transformateur.pv.resultat" [severity]="getSeverity(transformateur.pv.resultat)"></p-tag>
              </td>

          </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="6">Aucune donnée trouvée.</td>
          </tr>
      </ng-template>
  </p-table>


  </div>
  <div class="l card">
    <p-chart type="doughnut" [data]="data" ></p-chart>
  </div>
  <div class="m card"  style="justify-content: end;">
    <p-chart type="radar" [data]="data9" ></p-chart>
  </div>
  <div class="n card" style="justify-content: end;">
    <p-chart type="bar" [data]="data" ></p-chart>
  </div>
</div>


</header>
