<header style="background-color: whitesmoke;padding-bottom: 10%;">
  <div style="padding-left: 7%;padding-right: 3%;padding-top: 2%;">
    <div class="row row-cols-1 row-cols-md-2 row-cols-xl-4">
           <div class="col">
         <div class="card radius-10 border-start border-0 border-3 border-info" style="background: #ffffff; /* fallback for older browsers */
         background: linear-gradient(to right, #ffffff, #f0f0f0);
         ">
          <div class="card-body">
            <div class="d-flex align-items-center">
              <div>
                <p class="mb-0 text-secondary">Total Orders</p>
                <h4 class="my-1 text-info">4805</h4>
                <p class="mb-0 font-13">+2.5% from last week</p>
              </div>
              <div class="widgets-icons-2 rounded-circle bg-gradient-scooter text-white ms-auto"><i class="fa fa-shopping-cart"></i>
              </div>
            </div>
          </div>
         </div>
         </div>
         <div class="col">
        <div class="card radius-10 border-start border-0 border-3 border-danger" style="background: #ffffff; /* fallback for older browsers */
        background: linear-gradient(to right, #ffffff, #f0f0f0);">
           <div class="card-body">
             <div class="d-flex align-items-center">
               <div>
                 <p class="mb-0 text-secondary">Total Revenue</p>
                 <h4 class="my-1 text-danger">$84,245</h4>
                 <p class="mb-0 font-13">+5.4% from last week</p>
               </div>
               <div class="widgets-icons-2 rounded-circle bg-gradient-bloody text-white ms-auto"><i class="fa fa-dollar"></i>
               </div>
             </div>
           </div>
        </div>
        </div>
        <div class="col">
        <div class="card radius-10 border-start border-0 border-3 border-success" style="background: #ffffff; /* fallback for older browsers */
        background: linear-gradient(to right, #ffffff, #f0f0f0);">
           <div class="card-body">
             <div class="d-flex align-items-center">
               <div>
                 <p class="mb-0 text-secondary">Bounce Rate</p>
                 <h4 class="my-1 text-success">34.6%</h4>
                 <p class="mb-0 font-13">-4.5% from last week</p>
               </div>
               <div class="widgets-icons-2 rounded-circle bg-gradient-ohhappiness text-white ms-auto"><i class="fa fa-bar-chart"></i>
               </div>
             </div>
           </div>
        </div>
        </div>
        <div class="col">
        <div class="card radius-10 border-start border-0 border-3 border-warning" style="background: #ffffff; /* fallback for older browsers */
        background: linear-gradient(to right, #ffffff, #f0f0f0);">
           <div class="card-body">
             <div class="d-flex align-items-center">
               <div>
                 <p class="mb-0 text-secondary">Total Customers</p>
                 <h4 class="my-1 text-warning">8.4K</h4>
                 <p class="mb-0 font-13">+8.4% from last week</p>
               </div>
               <div class="widgets-icons-2 rounded-circle bg-gradient-blooker text-white ms-auto"><i class="fa fa-users"></i>
               </div>
             </div>
           </div>
        </div>
        </div>
      </div>
    </div>
<div class="container">


  <div class="f card">
    <p-chart type="pie" [data]="data" ></p-chart>
  </div>
  <div class="g card" style="justify-content: end;">

    <p-chart type="bar" [data]="date2"></p-chart>

  </div>

  <div class="k card">
    <p-chart type="line" [data]="data6" ></p-chart>
  </div>
  <div class="l card">
    <p-chart type="doughnut" [data]="data" ></p-chart>
  </div>
  <div class="m card"  style="justify-content: end;">
    <p-chart type="radar" [data]="data9" ></p-chart>
  </div>
  <div class="n card" style="justify-content: end;">
    <p-chart type="bar" [data]="data" ></p-chart>
  </div>
</div>


</header>
