<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">


<div #printSection class="invoice" >

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
<link rel='stylesheet' href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>
<div style="display: flex;">
<img src="assets/LogoPV.png" style="width: 300px;">
<img src="assets/9001ISO.png" style="width: 180px; height: 70px;">
<img src="assets/14001ISO-removebg-preview.png" style="width: 180px; height: 93px;">
<img src="assets/iso-45001.png" style="width: 180px; height: 147px;   ; margin-left: -27px;     margin-top: -38px; ">
<img src="assets/iso50001.png" style="width: 180px; height: 72px; ">
</div>

  <div class="page-header text-blue-d2" style=" margin: 40px 30px 20px;" >
    <div class="page-header text-blue-d2" style=" margin: 40px 30px 20px;" >


      <div class="row">
        <div class="col-sm-6"style=" text-align: left;">

            <div class="text-grey-m2">
                <div class="my-1">
                    Numero/Numéro: {{ service.list[0].numero }}
                </div>
                <div class="my-1">
                  Libelle: {{ service.list[0].libelle }}
              </div>
            </div>
        </div>
        <div class="col-sm-6" style=" text-align: center;">
          <div>
              <span class="text text-grey-m2 align-middle">Puissance/Power:</span>
              <span class="text-600 text-110 text-blue align-middle"> {{ service.list[0].power }} KVA</span>
          </div>
          <div class="text-grey-m2">
              <div class="my-1">
                  MT:U1/MV:V1: {{ service.list[0].mtu1 }} KV
              </div>
          </div>
      </div>
      <div class="col-sm-6" style=" text-align: right;">
        <div class="my-1">
          BT:U2/LV:V2: {{ service.list[0].btu2 }} V
      </div>
      <div class="my-1">
          Couplage: {{ service.list[0].couplage }}
    </div>
    </div>
    </div>
    </div>

  <div class="row">


  <div class="col-sm-6" style=" text-align: right;">


</div>
</div>
</div>
  <div class="invoice-body">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Supplémentaires:</h3>
      </div>
      <table class="table table-bordered table-condensed" >
          <tbody>
            <tr>
              <td class="text-center colfix">Borne</td>
              <td class="text-center colfix">Isolateur</td>
              <td class="text-center colfix">Relais</td>
              <td class="text-center colfix">Reservoir</td>
              <td class="text-center colfix">5 POS</td>
              <td class="text-center colfix">3 POS</td>
            </tr>
            <tr>
            <td class="text-center colfix" *ngIf="service.list[0].accessoires2==='Borne'; else notMet"><span class="fa fa-check text-primary"></span></td>
            <td class="text-center colfix" *ngIf="service.list[0].accessoires2==='Isolateur'; else notMet"><span class="fa fa-check text-primary"></span></td>
              <td class="text-center colfix" *ngIf="service.list[0].accessoires==='NONDMCR' ; else notMet"><span class="fa fa-check text-primary"></span></td>
              <td class="text-center colfix" *ngIf="service.list[0].accessoires==='NONDMCR' ; else notMet"><span class="fa fa-times text-light"></span></td>
              <td class="text-center colfix" *ngIf="service.list[0].bornesembrochables==='5POS' ; else notMet"><span class="fa fa-check text-primary"></span></td>
              <td class="text-center colfix" *ngIf="service.list[0].accessoires==='3POS' ; else notMet"><span class="fa fa-check text-primary"></span></td>
            </tr>
            <ng-template #notMet><td class="text-center colfix"><span class="fa fa-times text-danger"></span></td></ng-template>

          </tbody>
      </table>
    </div>
    <div class="row" style="display: contents;">
      <div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Controle dimensionnelle bobinage:</h3>
      </div>
      <table class="table table-bordered table-condensed" >
        <tbody>
          <tr>
            <td rowspan="3" class="text-center colfix"></td>
            <td colspan="4" class="text-center colfix">Bobinage BT</td>
          </tr>
          <tr>
            <td colspan="3" class="text-center colfix">Mesure</td>
            <td class="text-center colfix" rowspan="2">Prevue</td>
            <td class="text-center colfix" rowspan="2">CN/C</td>

          </tr>
          <tr>
            <td class="text-center colfix">BT1</td>
            <td class="text-center colfix">BT2</td>
            <td class="text-center colfix">BT3</td>
            </tr>
            <tr *ngFor="let bobinage of bobinages">
              <td class="text-left colfix">{{bobinage.nom}}</td>
              <td class="text-center colfix"><input type="number" [(ngModel)]="bobinage.bt1"></td>
              <td class="text-center colfix"><input type="number" [(ngModel)]="bobinage.bt2"></td>
              <td class="text-center colfix"><input type="number" [(ngModel)]="bobinage.bt3"></td>
              <td class="text-center colfix"><input type="number" [(ngModel)]="bobinage.prevue"></td>
              <td class="text-center colfix"><input type="number" [(ngModel)]="bobinage.cnc"></td>

            </tr>
        </tbody>
      </table>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Trucs connexes:</h3>
      </div>
      <table  class="table table-bordered table-condensed" >
        <tbody>
          <tr>
            <td class="text-left colfix">Operateur</td>
            <ng-container *ngFor="let index of [0, 1, 2 ,3]">
              <ng-container *ngIf="etapeSelected.controleurs[index]?.designation === 'Operateur'">
                <td class="text-left colfix" style="padding-left: 10px;">{{ etapeSelected.controleurs[index]?.username }}</td>
              </ng-container>
            </ng-container>


            <td class="text-left colfix" style="padding-left: 10px;">{{etapeSelected2.controleurs[0]?.username}}</td>
            <td class="text-left colfix">{{etapeSelected2.controleurs[1]?.username}}</td>

            <td class="text-left colfix" style="padding-left: 10px;">{{etapeSelected3.controleurs[0]?.username}}</td>
            <td class="text-left colfix">{{etapeSelected3.controleurs[1]?.username}}</td>
          </tr>
          </tbody>
          <tbody>
            <tr>
              <td class="text-left colfix">Controleur</td>
              <ng-container *ngFor="let index of [0, 1, 2, 3]; let isFirst = first">
                <ng-container *ngIf="etapeSelected.controleurs[index]?.designation === 'Controleur'">
                  <td class="text-left colfix" style="padding-left: 10px;">{{ etapeSelected.controleurs[index]?.username }}</td>
                </ng-container>
              </ng-container>
              <!-- Show one empty td if there are no "Controleur" controllers -->
              <ng-container *ngIf="!hasControleur()">
                <td><!-- Normal td content here --></td>
              </ng-container>
            </tr>
          </tbody>
          <tbody>
            <tr>
              <td class="text-left colfix">Verificateur</td>
              <ng-container *ngFor="let index of [0, 1, 2, 3]; let isFirst = first">
                <ng-container *ngIf="etapeSelected.controleurs[index]?.designation === 'Verificateur'">
                  <td class="text-left colfix" style="padding-left: 10px;">{{ etapeSelected.controleurs[index]?.username }}</td>
                </ng-container>
              </ng-container>
              <!-- Show one empty td if there are no "Verificateur" controllers -->
              <ng-container *ngIf="!hasVerificateur()">
                <td><!-- Normal td content here --></td>
              </ng-container>
            </tr>

          </tbody>
      </table>
    </div>

  </div>
  <div class="invoice-footer">

      <hr style="border-color: #51121E; border-width: 5px; height: 10px;">
    <br/>
    <strong>Direction commerciale :</strong>Immeuble l'Express-Centre Nord 2eme Etage- Appt A2-7 Tunis 1082 Tél : 00 216 71 822 503 Fax : 00 216 71 822 515
    <br><strong>Siege Social & Usine </strong>Rue Avicenne -2021 OUED ELLIL-TUNISIE Tél : 216 71 629 664 Fax : +216 71 629 664 Fax : +216 71 629 551
    <br>Web : www.ttransfo.com / E-Mail : info&#64;ttransfo.com

  </div>
</div>
<div class="page-tools" style="margin-left: 786px;" class="printable">
  <div class="action-buttons" style="display: flex;">
    <a class="btn bg-white btn-light mx-1px text-95" data-title="Print" (click)="onPrint()">
      <i class="mr-1 fa fa-print text-primary-m1 text-120 w-2"></i>
     <span style="padding-left: 8px;">Print</span>
    </a>
    <a class="btn bg-white btn-light mx-1px text-95" data-title="Save" (click)="Update()" [routerLink]="['/Controle',this.service.list[0].numero]">
      <i class="mr-1 fa fa-save text-success-m1 text-120 w-2"></i>
      <span style="padding-left: 8px;">Save</span>
    </a>
  </div>
</div>
</div>

