<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

<section class="timeline_area section_padding_130" style="padding-left: 50px;">
    <div class="container" style="max-width: 1400px;">

        <div class="row" class="card" style="margin-bottom: 400px;">
          <div style="display: flex;">
            <img src="assets/LogoPV.png" style="width: 300px;margin-right: 50vh;">
            <img src="assets/9001ISO.png" style="width: 180px; height: 70px;">
            <img src="assets/14001ISO-removebg-preview.png" style="width: 180px; height: 93px;">
            <img src="assets/iso-45001.png" style="width: 180px; height: 147px;   ; margin-left: -27px;     margin-top: -38px; ">
            <img src="assets/iso50001.png" style="width: 180px; height: 72px; ">
            </div>
            <div class="col-12" style="padding-top: 50px;" >
                <!-- Timeline Area-->
                <div class="apland-timeline-area" >
                    <!-- Single Timeline Content-->

                    <div class="single-timeline-area">
                        <div class="timeline-date wow fadeInLeft" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInLeft;">
                            <p><strong>#1</strong> Near Future</p>
                        </div>

                        <div class="row" style="margin-right: 0vh;">
                            <div class="col-12 col-md-6 col-lg-4" >
                                <div  class="single-timeline-content d-flex wow fadeInLeft"  data-wow-delay="0.3s" style="visibility: visible;width: fit-content; animation-delay: 0.3s; animation-name: fadeInLeft;">
                                    <div  class="timeline-text">
                                        <table  class="table table-bordered table-condensed" style="margin-left: -10px;margin-bottom: -10px;margin-top: -10px;">
                                          <tbody>
                                            <tr>
                                              <th  class="text-center colfix">Numero</th>
                                              <th  class="text-center colfix">Puissance</th>
                                               <th class="text-center colfix" >Fuite</th>
                                               <th  class="text-center colfix">Peinture</th>
                                               <th  class="text-center colfix">Isolateur</th>
                                                <th class="text-center colfix" >Marquage</th>
                                                <th  class="text-center colfix" style="white-space: nowrap;">Neutre rouge</th>
                                                <th  class="text-center colfix">Terre</th>
                                                 <th class="text-center colfix" >Commut</th>
                                                 <th  class="text-center colfix">Soupage</th>
                                                 <th  class="text-center colfix">P.Signaletique</th>
                                                  <th class="text-center colfix" >Vanne</th>
                                                  <th  class="text-center colfix">Relais</th>
                                                  <th  class="text-center colfix" style="white-space: nowrap;">Doigt Gant</th>
                                                   <th class="text-center colfix">Cosse</th>
                                                   <th  class="text-center colfix">C/NC</th>
                                                   <th  class="text-center colfix">Observation</th>
                                            </tr>
                                            <tr>
                                              <td class="text-center colfix">{{service.list[0].numero}}</td>
                                              <td class="text-center colfix">{{service.list[0].power}}</td>
                                              <td class="text-center colfix"></td>
                                              <td class="text-center colfix"></td>
                                              <td class="text-center colfix"></td>
                                              <td class="text-center colfix"></td>
                                              <td class="text-center colfix"></td>
                                              <td class="text-center colfix"></td>
                                              <td class="text-center colfix"></td>
                                              <td class="text-center colfix"></td>
                                              <td class="text-center colfix"></td>
                                              <td class="text-center colfix"></td>
                                              <td class="text-center colfix"></td>
                                              <td class="text-center colfix"></td>
                                              <td class="text-center colfix"></td>
                                              <td class="text-center colfix"></td>
                                              <td class="text-center colfix"><input style="width: 100%;"></td>
                                            </tr>
                                            <tr>
                                          </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</section>
