<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

<section class="timeline_area section_padding_130" style="padding-left: 50px;">
    <div class="container" style="max-width: 1400px;">

        <div class="row" class="card" style="margin-bottom: 200px;">
          <div style="display: flex;">
            <img src="assets/LogoPV.png" style="width: 300px;margin-right: 50vh;">
            <img src="assets/9001ISO.png" style="width: 180px; height: 70px;">
            <img src="assets/14001ISO-removebg-preview.png" style="width: 180px; height: 93px;">
            <img src="assets/iso-45001.png" style="width: 180px; height: 147px;   ; margin-left: -27px;     margin-top: -38px; ">
            <img src="assets/iso50001.png" style="width: 180px; height: 72px; ">
            </div>
            <div class="col-12" style="padding-top: 50px;" >
                <!-- Timeline Area-->
                <div class="apland-timeline-area" >
                    <!-- Single Timeline Content-->

                    <div class="single-timeline-area" *ngFor="let peinture of peintures">
                        <div class="timeline-date wow fadeInLeft" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInLeft;">
                            <p><strong>#{{peinture.numerop}}</strong><input type="date" [(ngModel)]="peinture.datePentiure"></p>
                        </div>
                        <div class="row" style="margin-right: 0vh;">
                            <div class="col-12 col-md-6 col-lg-4" >
                                <div  class="single-timeline-content d-flex wow fadeInLeft"  data-wow-delay="0.3s" style="visibility: visible;width: fit-content; animation-delay: 0.3s; animation-name: fadeInLeft;">
                                    <div  class="timeline-text">
                                        <table  class="table table-bordered table-condensed" style="margin-left: -10px;margin-bottom: -10px;margin-top: -10px;">
                                          <tbody>
                                            <tr>
                                              <th  class="text-center colfix">Numero</th>
                                              <th  class="text-center colfix">Puissance</th>
                                               <th class="text-center colfix" >Fuite</th>
                                               <th  class="text-center colfix">Peinture</th>
                                               <th  class="text-center colfix">Isolateur</th>
                                                <th class="text-center colfix" >Marquage</th>
                                                <th  class="text-center colfix" style="white-space: nowrap;">Neutre rouge</th>
                                                <th  class="text-center colfix">Terre</th>
                                                 <th class="text-center colfix" >Commut</th>
                                                 <th  class="text-center colfix">Soupage</th>
                                                 <th  class="text-center colfix">P.Signaletique</th>
                                                  <th class="text-center colfix" >Vanne</th>
                                                  <th  class="text-center colfix">Relais</th>
                                                  <th  class="text-center colfix" style="white-space: nowrap;">Doigt Gant</th>
                                                   <th class="text-center colfix">Cosse</th>
                                                   <th  class="text-center colfix">C/NC</th>
                                                   <th  class="text-center colfix">Observation</th>
                                            </tr>
                                            <tr>
                                              <td class="text-center colfix">{{service.list[0].numero}}</td>
                                              <td class="text-center colfix">{{service.list[0].power}}</td>
                                              <td class="text-center colfix clickable-td" (click)="confirm(3, peinture.numerop)" [style.color]="peinture.fuite === 'C' ? 'green' : 'red'">{{ peinture.fuite }}</td>
                                              <td class="text-center colfix clickable-td" (click)="confirm(4, peinture.numerop)" [style.color]="peinture.penture === 'C' ? 'green' : 'red'">{{ peinture.penture }}</td>
                                              <td class="text-center colfix clickable-td" (click)="confirm(5, peinture.numerop)" [style.color]="peinture.isolateur === 'C' ? 'green' : 'red'">{{ peinture.isolateur }}</td>
                                              <td class="text-center colfix clickable-td" (click)="confirm(6, peinture.numerop)" [style.color]="peinture.marquage === 'C' ? 'green' : 'red'">{{ peinture.marquage }}</td>
                                              <td class="text-center colfix clickable-td" (click)="confirm(7, peinture.numerop)" [style.color]="peinture.neutre === 'C' ? 'green' : 'red'">{{ peinture.neutre }}</td>
                                              <td class="text-center colfix clickable-td" (click)="confirm(8, peinture.numerop)" [style.color]="peinture.terre === 'C' ? 'green' : 'red'">{{ peinture.terre }}</td>
                                              <td class="text-center colfix clickable-td" (click)="confirm(9, peinture.numerop)" [style.color]="peinture.commut === 'C' ? 'green' : 'red'">{{ peinture.commut }}</td>

                                              <td class="text-center colfix clickable-td" (click)="confirm(10, peinture.numerop)" [style.color]="peinture.soupage === 'C' ? 'green' : 'red'">{{ peinture.soupage }}</td>
                                              <td class="text-center colfix clickable-td" (click)="confirm(11, peinture.numerop)" [style.color]="peinture.signature === 'C' ? 'green' : 'red'">{{ peinture.signature }}</td>
                                              <td class="text-center colfix clickable-td" (click)="confirm(12, peinture.numerop)" [style.color]="peinture.vanne === 'C' ? 'green' : 'red'">{{ peinture.vanne }}</td>

                                              <td class="text-center colfix clickable-td" (click)="confirm(13, peinture.numerop)" [style.color]="peinture.relais === 'C' ? 'green' : 'red'">{{ peinture.relais }}</td>
                                              <td class="text-center colfix clickable-td" (click)="confirm(14, peinture.numerop)" [style.color]="peinture.doigt === 'C' ? 'green' : 'red'">{{ peinture.doigt }}</td>
                                              <td class="text-center colfix clickable-td" (click)="confirm(15, peinture.numerop)" [style.color]="peinture.cosse === 'C' ? 'green' : 'red'">{{ peinture.cosse }}</td>

                                              <td *ngIf="peinture.cnc === 'NC'" class="text-center colfix clickable-td" style="color: red;">{{ peinture.cnc }}</td>
                                              <td *ngIf="peinture.cnc === 'C'" class="text-center colfix clickable-td" style="color: green;">{{ peinture.cnc }}</td>
                                              <td *ngIf="peinture.cnc !== 'NC' && peinture.cnc !== 'C'" class="text-center colfix clickable-td"></td>

                                              <td class="text-center colfix"><input class="text-center colfix" [(ngModel)]="peinture.observation"  style="width: 100%;"></td>
                                            </tr>

                                            <tr>
                                          </tbody>
                                        </table>

                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                <div class="page-tools" style="margin-left: 1200px;" class="printable" *ngIf="ServiceS.Controleur.designation === 'Verificateur' || ServiceS.Controleur.designation === 'Controleur'">
                  <div class="action-buttons" style="display: flex;">
                    <a class="btn bg-white btn-light mx-1px text-95" data-title="Print" >
                      <i class="mr-1 fa fa-print text-primary-m1 text-120 w-2"></i>
                      Print
                    </a>
                    <a [routerLink]="['/Controle', service.list[0]!.numero]" class="btn bg-white btn-light mx-1px text-95" data-title="Save" (click)="update()">
                      <i class="mr-1 fa fa-save text-success-m1 text-120 w-2"></i>
                      <span style="padding-left: 8px;" *ngIf="ServiceS.Controleur.designation==='Verificateur' ">Verifier</span>
                      <span style="padding-left: 8px;" *ngIf="ServiceS.Controleur.designation==='Controleur' ">Save</span>
                    </a>
                  </div>
                </div>
                </div>

            </div>

        </div>

    </div>

</section>
<p-toast></p-toast>
