
<div #printSection class="invoice" >
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
<link rel='stylesheet' href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>

  <div class="page-tools" style="margin-left: 786px;">
    <div class="action-buttons">
      <a class="btn bg-white btn-light mx-1px text-95" data-title="Print" (click)="onPrint()">
        <i class="mr-1 fa fa-print text-primary-m1 text-120 w-2"></i>
        Print
      </a>
      <a class="btn bg-white btn-light mx-1px text-95" (click)="savePvValues()" data-title="Save">
        <i class="mr-1 fa fa-save text-success-m1 text-120 w-2"></i>
        Save
      </a>
    </div>
</div>
  <div class="invoice-header" >
    <div class="row">
      <div class="col-xs-8" *ngIf="pv">
        <h1>Pv d'essai <small>Transformateur</small></h1>
        <h4 class="text-muted" *ngIf="pv && pv.length > 0">
          No: {{ pv[0].id_pv }} | Date: {{ pv[0].date.toString().split('T')[0] }}
        </h4>
      </div>
      <div class="col-xs-4">
        <div class="media">
          <div class="media-left">
            <img class="media-object logo" src="assets/Logo.png" />
          </div>
          <ul class="media-body list-unstyled">
            <li><strong>Tunisie transformateurs</strong></li>
            <li>Rue Avicenne BP N° 3 2021</li>
            <li>Oued Ellil-Tunis</li>
            <li>71 629 664</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="page-header text-blue-d2" style="    margin: 40px 30px 20px;" >


  <div class="row" style=" text-align: center;">
    <div class="col-sm-6"  >
        <div>
            <span class="text-sm text-grey-m2 align-middle">Marque:</span>
            <span class="text-600 text-110 text-blue align-middle"> {{ service.list[0].marque }}</span>
        </div>
        <div class="text-grey-m2">
            <div class="my-1">
                Numero: {{ service.list[0].numero }}
            </div>
            <div class="my-1">
                Client: Ste Bouzid d'electrique
            </div>
            <div class="my-1"><b class="text-600">Norme: {{ service.list[0].norme }}</b></div>
        </div>
    </div>
    <div class="col-sm-6" >
      <div>
          <span class="text-sm text-grey-m2 align-middle">Puissance:</span>
          <span class="text-600 text-110 text-blue align-middle"> {{ service.list[0].power }} KVA</span>
      </div>
      <div class="text-grey-m2">
          <div class="my-1">
              MT:U1: {{ service.list[0].mtu1 }} V
          </div>
          <div class="my-1">
              MT:I1 : {{ service.list[0].mtu2 }} A
          </div>
          <div class="my-1">
            BT:U2: {{ service.list[0].btu2 }} V
        </div>
          <div class="my-1"><b class="text-600">BT:I2: {{ service.list[0].bti2 }} A</b></div>
      </div>
  </div>
  <div class="col-sm-6">
    <div>
        <span class="text-sm text-grey-m2 align-middle">Nbr des phases:</span>
        <span class="text-600 text-110 text-blue align-middle">{{ service.list[0].nbphase }}</span>
    </div>
    <div class="text-grey-m2">
        <div class="my-1">
            Prises: {{ service.list[0].prises }}
        </div>
        <div class="my-1">
            Couplage: {{ service.list[0].couplage }}
        </div>
        <div class="my-1">
          Refroidissement: {{ service.list[0].cooling }}
      </div>
        <div class="my-1"><b class="text-600">Frequence: {{ service.list[0].frequency }}Hz</b></div>
    </div>
</div>
</div>
</div>
  <div class="invoice-body">
    <div class="row" style="display: contents;">
      <div class="col-xs-5" style="display: contents;">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Voltage Ratio / Rapport de transformation</h3>
            <small>{{ service.list[0].mtu1 }} V/ {{ service.list[0].btu2 }} V / {{ service.list[0].couplage }}</small>
          </div>
          <table class="table table-bordered table-condensed"  *ngIf="pv && pv.length > 0">
            <tbody>
              <tr>
                <td class="text-center colfix">Prises / Tappings</td>
                <td colspan="2" class="text-center colfix">Valeurs théorique / Thoeric values</td>
                <td colspan="3" class="text-center colfix">Valeurs mesurées/Messured values</td>
              </tr>
              <tr>
                <td class="text-center colfix">1</td>
                <td class="text-center colfix"><input type="number" readonly [value]="this.pv[0].vt11?.toFixed(3)"></td>
                <td class="text-center colfix"><input type="number" readonly [value]="this.pv[0].vt12?.toFixed(3)"></td>
                <td class="text-center colfix"><input type="number"[(ngModel)]="pv[0].vm11"></td>
                <td class="text-center colfix"><input type="number"[(ngModel)]="pv[0].vm12"></td>
                <td class="text-center colfix"><input type="number"[(ngModel)]="pv[0].vm13"></td>
              </tr>
              <tr>
                <td class="text-center colfix">2</td>
                <td class="text-center colfix"><input type="number" readonly [value]="this.pv[0].vt21?.toFixed(3)"></td>
                <td class="text-center colfix"><input type="number" readonly [value]="this.pv[0].vt22?.toFixed(3)"></td>
                <td class="text-center colfix"><input type="number"[(ngModel)]="pv[0].vm21"></td>
                <td class="text-center colfix"><input type="number"[(ngModel)]="pv[0].vm22"></td>
                <td class="text-center colfix"><input type="number"[(ngModel)]="pv[0].vm23"></td>
              </tr>
              <tr>
                <td class="text-center colfix">3</td>
                <td class="text-center colfix"><input type="number" readonly [value]="this.pv[0].vt31?.toFixed(3)"></td>
                <td class="text-center colfix"><input type="number" readonly [value]="this.pv[0].vt32?.toFixed(3)"></td>
                <td class="text-center colfix"><input type="number"[(ngModel)]="pv[0].vm31"></td>
                <td class="text-center colfix"><input type="number"[(ngModel)]="pv[0].vm32"></td>
                <td class="text-center colfix"><input type="number"[(ngModel)]="pv[0].vm33"></td>
              </tr>
              <tr>
                <td class="text-center colfix">4</td>
                <td class="text-center colfix"><input type="number" readonly [value]="this.pv[0].vt41?.toFixed(3)"></td>
                <td class="text-center colfix"><input type="number" readonly [value]="this.pv[0].vt42?.toFixed(3)"></td>
                <td class="text-center colfix"><input type="number"[(ngModel)]="pv[0].vm41"></td>
                <td class="text-center colfix"><input type="number"[(ngModel)]="pv[0].vm42"></td>
                <td class="text-center colfix"><input type="number"[(ngModel)]="pv[0].vm43"></td>
              </tr>
              <tr>
                <td class="text-center colfix">5</td>
                <td class="text-center colfix"><input type="number" readonly [value]="this.pv[0].vt51?.toFixed(3)"></td>
                <td class="text-center colfix"><input type="number" readonly [value]="this.pv[0].vt52?.toFixed(3)"></td>
                <td class="text-center colfix"><input type="number"[(ngModel)]="pv[0].vm51"></td>
                <td class="text-center colfix"><input type="number"[(ngModel)]="pv[0].vm52"></td>
                <td class="text-center colfix"><input type="number"[(ngModel)]="pv[0].vm53"></td>
              </tr>
            </tbody>
          </table>

        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Resistence Mesurement / Mesure des resistances</h3>
          </div>
          <table class="table table-bordered table-condensed" *ngIf="pv && pv.length > 0">
            <tbody>
              <tr>
                <td colspan="2" class="text-center colfix">Winding Enrolement</td>
                <td class="text-center colfix">R[ohm]</td>
                <td class="text-center colfix">T</td>
              </tr>
              <tr>
                <td rowspan="3" class="text-center colfix">LV/BT</td>
                <td class="text-center colfix">n-a</td>
                <td class="text-center colfix"><input type="number"[(ngModel)]="pv[0].na0"></td>
                <td rowspan="6" class="text-center colfix"><input type="number" [(ngModel)]="pv[0].temp"></td>
              </tr>
              <tr>
                <td class="text-center colfix">n-b</td>
                <td class="text-center colfix"><input type="number" [(ngModel)]="pv[0].nb0"></td>
              </tr>
              <tr>
                <td class="text-center colfix">n-c</td>
                <td class="text-center colfix"><input type="number"[(ngModel)]="pv[0].nc0"></td>
              </tr>
              <tr>
                <td rowspan="3" class="text-center colfix">MV/MT</td>
                <td class="text-center colfix">n-A</td>
                <td class="text-center colfix"><input type="number" [(ngModel)]="pv[0].na1"></td>
              </tr>
              <tr>
                <td class="text-center colfix">n-B</td>
                <td class="text-center colfix"><input type="number" [(ngModel)]="pv[0].nb2"></td>
              </tr>
              <tr>
                <td class="text-center colfix">n-C</td>
                <td class="text-center colfix"><input type="number" [(ngModel)]="pv[0].nc3"></td>
              </tr>
            </tbody>
          </table>
        </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">No load test / Essais a vide</h3>
      </div>
      <table class="table table-bordered table-condensed" *ngIf="pv && pv.length > 0">
        <tbody>
          <tr>
            <td></td>
            <td colspan="2" class="text-center colfix">Guaranteed values / valeurs garanties
      </td>
            <td colspan="4" class="text-center colfix">Mesured values / Valeurs mesurées
      </td>
          </tr>
          <tr>
            <td class="text-center colfix">Tapping / Prises</td>
            <td class="text-center colfix">Wo [w]</td>
            <td class="text-center colfix">Io [%]</td>
            <td class="text-center colfix">U [V]</td>
            <td class="text-center colfix">Io [A]</td>
            <td class="text-center colfix">Wo [W]</td>
            <td class="text-center colfix">Io[%]</td>
          </tr>
          <tr>
            <td class="text-center colfix" [(ngModel)]="pv[0].tappings"><input type="number"></td>
            <td class="text-center colfix" [(ngModel)]="pv[0].wog"><input type="number"></td>
            <td class="text-center colfix" [(ngModel)]="pv[0].iog"><input type="number"></td>
            <td class="text-center colfix" [(ngModel)]="this.service.list[0].mtu2"><input type="number"></td>
            <td class="text-center colfix" [(ngModel)]="pv[0].iom"><input type="number"></td>
            <td class="text-center colfix" [(ngModel)]="pv[0].wom"><input type="number"></td>
            <td class="text-center colfix"><input type="number"></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Load test / Essais en charge</h3>
      </div>
      <table class="table table-bordered table-condensed" *ngIf="pv && pv.length">
        <tbody>
          <tr>
            <td></td>
            <td colspan="2" class="text-center colfix">Guaranteed values / valeurs garanties	</td>
            <td colspan="5" class="text-center colfix">Mesured values / Valeurs mesurées
      </td>
          </tr>
          <tr>
            <td class="text-center colfix">Tapping / Prises</td>
            <td class="text-center colfix">ZCC [%]</td>
            <td class="text-center colfix">WCC [W]</td>
            <td class="text-center colfix">T [C]</td>
            <td class="text-center colfix">Ucc [V]</td>
            <td class="text-center colfix">I [A]</td>
            <td class="text-center colfix">Wcc [W]</td>
            <td class="text-center colfix">Zcc [%]</td>
          </tr>
          <tr>
            <td class="text-center colfix"><input type="number"[(ngModel)]="pv[0].tappings"></td>
            <td class="text-center colfix"><input type="number"[(ngModel)]="pv[0].zccg"></td>
            <td class="text-center colfix"><input type="number"[(ngModel)]="pv[0].wccg"></td>
            <td class="text-center colfix"><input type="number"[(ngModel)]="pv[0].temp"></td>
            <td class="text-center colfix"><input type="number"[(ngModel)]="pv[0].uccm"></td>
            <td class="text-center colfix"><input type="number"[(ngModel)]="this.service.list[0].bti2"></td>
            <td class="text-center colfix"><input type="number"[(ngModel)]="pv[0].wccm1"></td>
            <td class="text-center colfix"><input type="number"[(ngModel)]="pv[0].zccm1"></td>
          </tr>
          <tr>
            <td colspan="6" class="text-right colfix">Valeurs at 75C / Valeurs à 75C
      </td>
            <td class="text-center colfix"><input type="number"[(ngModel)]="pv[0].wccm2"></td>
            <td class="text-center colfix"><input type="number"[(ngModel)]="pv[0].zcmm2"></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Dielectric test / Essais diélectrique</h3>
      </div>
      <table class="table table-bordered table-condensed" *ngIf="pv && pv.length">
        <tbody>
          <tr>
            <td class="text-left colfix" style="width: 200px;">Induced voltage test at / Essai par tension induite a 150 Hz</td>
            <td class="text-center colfix">U [V]</td>
            <td class="text-center colfix"><input type="number" [(ngModel)]="pv[0].u1"></td>
            <td class="text-center colfix"><input type="number"[(ngModel)]="pv[0].t1"></td>
          </tr>
          <tr>
            <td class="text-left colfix" style="width: 200px;">Applied voltage test (HV) at / Essai par tension appliqueés (HT) a 50Hz</td>
            <td class="text-center colfix">U [kV]</td>
            <td class="text-center colfix"><input type="number"[(ngModel)]="pv[0].u2"></td>
            <td class="text-center colfix"><input type="number"[(ngModel)]="pv[0].t2"></td>
          </tr>
          <tr>
            <td class="text-left colfix" style="width: 200px;">Applied voltage test (LV) at / Essai par tension appliqueés (BT) a 50Hz</td>
            <td class="text-center colfix">U [kV]</td>
            <td class="text-center colfix"><input type="number"[(ngModel)]="pv[0].u3"></td>
            <td class="text-center colfix"><input type="number"[(ngModel)]="pv[0].t3"></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Insulation liquid test / Essai du liquide isolant</h3>
      </div>
      <table class="table table-bordered table-condensed" *ngIf="pv && pv.length">
        <tbody>
          <tr>
            <td rowspan="2" class="text-left colfix ">Insultation liquid type / Type du liquide isolant</td>
            <td class="text-center colfix" class="text-center colfix">Non inhibated mineral oil </td>
          </tr>
          <tr>
            <td class="text-center colfix" class="text-center colfix">Huile minérale non inhibée</td>
          </tr>
          <tr>
            <td class="text-left colfix">Breakdown voltage / Tension de ciaquage (KV)</td>
            <td class="text-center colfix"><input type="number" [(ngModel)]="pv[0].claquage"></td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
  <div class="invoice-footer">

    Merci d'avoir choisi nos services. Nous espérons vous revoir bientôt.
    <br/>
    <strong>~Tunisie transformateurs~</strong>
  </div>
</div>

</div>

