body {
  background: #122151;
}

.form-control:focus {
  box-shadow: none;
  border-color: #122151;
}

.profile-button {
  background: #122151;
  box-shadow: none;
  border: none
}

.profile-button:hover {
  background: #122151;
}

.profile-button:focus {
  background: #122151;
  box-shadow: none
}

.profile-button:active {
  background: #122151;
  box-shadow: none
}

.back:hover {
  color: #122151;
  cursor: pointer
}

.labels {
  font-size: 11px
}

.add-experience:hover {
  background: #122151;
  color: #fff;
  cursor: pointer;
  border: solid 1px #122151;
}
