<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<header class="back">
  <div class="container" style="padding-left: 75px;padding-top: 20px;">

    <div class="row align-items-center" >
      <div class="col-xl-12 col-lg-12 col-md-12 col-12">
        <!-- Bg -->
        <div class="pt-20 rounded-top" style="background-color: #122151; background-size: cover;margin-top: 20px;" >
          <img src="assets/white.png"
          style="    margin-left: 500px;
          margin-top: -129px;
          width: 378px;">
        </div>
        <div class="card rounded-bottom smooth-shadow-sm">
          <div class="d-flex align-items-center justify-content-between
            pt-4 pb-6 px-4">
            <!-- avatar -->
            <div class="d-flex align-items-center">
              <div class="avatar-xxl   me-2
                position-relative d-flex justify-content-end
                align-items-end mt-n10">
                <img *ngIf="Service.list[0]?.type==='Monophasés' " src="assets/mono.png" class="avatar-xxl
                rounded-circle border border-2 " alt="Image" style="margin-bottom: -16px;">
                <img *ngIf="Service.list[0]?.type==='Triphasés' " src="assets/triphaser.png" class="avatar-xxl
                rounded-circle border border-2 "  alt="Image" style="margin-bottom: -16px;" >
                <img *ngIf="Service.list[0]?.type==='Biphasés' " src="assets/resine.png" class="avatar-xxl
                rounded-circle border border-2 " alt="Image" style="margin-bottom: -16px;">
              </div>
              <!-- content -->
              <div class="lh-1" style="padding-top: 35px;">
                <h2 class="mb-0">{{Service.list[0]?.marque}}
                  <a href="#!" class="text-decoration-none">
                  </a>
                </h2>
                <p class="mb-0 d-block">{{Service.list[0]?.numero}}</p>
              </div>
            </div>
            <div>
              <!-- button -->
              <a [routerLink]="['/Ajouter_Transformateur', transformateurId]"  class="btn btn-outline-primary
                d-none d-md-block">Voir les détails</a>
            </div>
          </div>
          <!-- nav -->
          <ul class="nav nav-lt-tab px-4" id="pills-tab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" href="#">{{Service.list[0]?.type}}</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
    <!-- page content -->
    <div class="py-6" >
      <div class="row"style="margin-right: -111px; margin-left: -119px;">
        <div class="offset-lg-1 col-lg-10 col-md-12 col-12">
          <div class="mb-8 container"  *ngFor="let etape of etapes">
            <!-- card -->
            <div *ngIf="showCard(etape.etapeNumero)" class="card bg-blue-500 shadow-none mb-4" style="background-color: #0f253c;" [style.order]="getOrderValue(etape.etapeNumero)">
              <!-- card body -->
              <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                  <div>
                    <h5 class="mb-0" style="color: white;">{{ getCardTitle(etape.etapeNumero) }}</h5>
                  </div>
                  <div>
                    <button class="text-muted" style="background: none; border: none;" (click)="verif(etape)">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right icon-xs" style="color: white;">
                        <line x1="5" y1="12" x2="19" y2="12"></line>
                        <polyline points="12 5 19 12 12 19"></polyline>
                      </svg>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <!-- card -->
            <div class="card">
              <!-- list group -->
              <ul class="list-group list-group-flush">
                <!-- list group item -->
                <li class="list-group-item p-3" >
                  <!-- content -->
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="d-flex align-items-center">
                      <!-- img -->
                      <div style="font-size: 25px; font-weight: bold; text-align: center; background-color: #122151; color: white; width: 50px; height: 50px; line-height: 50px; border-radius: 50%;">
                        <span style="display: inline-block; border-radius: 50%;">{{etape.etapeNumero}}</span>
                      </div>

                      <div class="ms-3">
                        <div style="display: flex;">
                        <p class="mb-0 font-weight-medium">

                          <strong>{{ etape.nom }}</strong> Supervisé par  :

                        </p>
                        <p-inplace  (onClick)="toggleclosable()">
                          <ng-template pTemplate="display">
                            <ng-container *ngIf="etape.operateur1 || etape.operateur2">
                              <span>
                                {{ etape.operateur1 }}
                                <ng-container *ngIf="etape.operateur2"> et {{ etape.operateur2 }}</ng-container>
                              </span>
                            </ng-container>
                            <ng-container *ngIf="!(etape.operateur1 || etape.operateur2)">
                              <span>Assigner un opérateur</span>
                            </ng-container>
                          </ng-template>
                          <ng-template pTemplate="content" style="margin-top: -10px;">
                            <span class="p-fluid">
                              <p-autoComplete [(ngModel)]="selectedItemsMap[etape.etapeNumero]" [suggestions]="filteredSuggestions" (completeMethod)="search($event)" [dropdown]="true" [multiple]="true"></p-autoComplete>
                            </span>
                          </ng-template>

                        </p-inplace>

                        </div>
                          <br>
                          <p-inplace [closable]="closable">
                            <ng-template pTemplate="display">
                              <ng-container>

                                <span class="date" *ngIf="(etape.dateDebut || etape.dateFin)">
                                  Débutant {{ etape.dateDebut | date: 'dd/MM/yyyy HH:mm' }} et Terminer le  {{ etape.dateFin | date: 'dd/MM/yyyy HH:mm' }}
                                  </span>
                              </ng-container>
                              <ng-container>
                                <span class="date" *ngIf=" !(etape.dateDebut || etape.dateFin)">Cliquez pour définir une période de dates.</span>
                              </ng-container>
                            </ng-template>
                            <ng-template pTemplate="content">
                              Débutant et Terminer le <p-calendar (onClose)="updateEtape(etape.etapeNumero)" [showTime]="true" [ngModel]="rangeDatesMap.get(etape.etapeNumero)" (ngModelChange)="updateRangeDates($event, etape.etapeNumero)" selectionMode="multiple" [readonlyInput]="true"></p-calendar>
                              </ng-template>
                        </p-inplace>
                       </div>

                    </div>
                    <div style="display: flex;">
                      <span class="btn btn-ghost btn-icon btn-sm rounded-circle" (click)="updateEtape(etape.etapeNumero);">
                        <i class="pi pi-save" style="color: #122151;"></i>
                      </span>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  <!-- end row -->
</div>


</header>
<p-toast></p-toast>
