<div class="formbold-main-wrapper">
  <!-- Author: FormBold Team -->
  <!-- Learn More: https://formbold.com -->
  <div class="formbold-form-wrapper">
         <img src="assets/Logo.png" style="margin-left: 320px;">
      <div class="formbold-input-wrapp formbold-mb-3">
        <label for="firstname" class="formbold-form-label" style="color: #122151;"> Marque / Id <small style="color: red;">*</small></label>
        <div>
          <input
            placeholder="Tunisie transformateurs"
            class="formbold-form-input"
            name="marque"
            [(ngModel)]="transformateurAjouter.marque"
          />

          <input
            name="numero"
            placeholder="Numero"
            class="formbold-form-input"
            [(ngModel)]="transformateurAjouter.numero"
          />
        </div>
      </div>

      <div class="formbold-mb-3">
        <label for="age" class="formbold-form-label" style="color: #122151;"> Client <small style="color: red;">*</small></label>
        <input
          name="client"
          placeholder="Client"
          class="formbold-form-input"
          [(ngModel)]="transformateurAjouter.client"

        />
      </div>

      <div class="formbold-mb-3">
        <label for="age" class="formbold-form-label" style="color: #122151;"> Norme <small style="color: red;">*</small></label>
        <input
          name="norme"
          placeholder="Norme"
          class="formbold-form-input"
          [(ngModel)]="transformateurAjouter.norme"
        />
      </div>

      <div class="formbold-mb-3">
        <label class="formbold-form-label" style="color: #122151;">Couplage<small style="color: red;">*</small></label>
        <select class="formbold-form-input" name="occupation" id="occupation" name="couplage" [(ngModel)]="transformateurAjouter.couplage">
          <option value="" disabled selected>Sélectionner le couplage</option>
          <option value="Mono">Mono</option>
          <option value="YNYN">Ynyn</option>
          <option value="DYN">Dyn</option>
          <option value="YZ">YZ</option>
        </select>


      </div>

      <div class="formbold-mb-3">
        <label for="email" class="formbold-form-label" style="color: #122151;"> Puissance <small style="color: red;">*</small></label>
        <input
          name="power"
          placeholder="Puissance"
          class="formbold-form-input"
          [(ngModel)]="transformateurAjouter.power"
        />
      </div>

      <div class="formbold-mb-3">
        <label for="address" class="formbold-form-label" style="color: #122151;"> Nbr des phases <small style="color: red;">*</small></label>

        <input
          name="nbphase"
          placeholder="Nbr des phases"
          class="formbold-form-input formbold-mb-3"
          [(ngModel)]="transformateurAjouter.nbphase"
        />
        <label for="address" class="formbold-form-label" style="color: #122151;"> Prises <small style="color: red;">*</small></label>

        <input
          name="prises"
          placeholder="Prises"
          class="formbold-form-input"
          [(ngModel)]="transformateurAjouter.prises"
        />
      </div>
      <div class="formbold-mb-3">
        <label class="formbold-form-label" style="color: #122151;">Type<small style="color: red;">*</small></label>
        <select class="formbold-form-input" name="occupation" id="occupation" name="couplage" [(ngModel)]="transformateurAjouter.type">
          <option value="" disabled selected>Sélectionner le type</option>
          <option value="Triphasés">Triphasés</option>
          <option value="Monophasés">Monophasés</option>
          <option value="Résine">Résine</option>
        </select>


      </div>
      <div class="formbold-mb-3">
        <label for="address" class="formbold-form-label" style="color: #122151;"> MT:U1 <small style="color: red;">*</small></label>

        <input
          name="mtu1"
          placeholder="MT:U1"
          class="formbold-form-input formbold-mb-3"
          [(ngModel)]="transformateurAjouter.mtu1"
        />
        <label for="address" class="formbold-form-label" style="color: #122151;"> BT:U2 <small style="color: red;">*</small></label>

        <input
          name="btu2"
          placeholder="BT:U2"
          class="formbold-form-input"
          [(ngModel)]="transformateurAjouter.btu2"
        />
      </div>

      <div class="formbold-mb-3">
        <label for="address" class="formbold-form-label" style="color: #122151;"> Refroidissement	<small style="color: red;">*</small></label>

        <input
          name="cooling"
          placeholder="Refroidissement"
          class="formbold-form-input formbold-mb-3"
          [(ngModel)]="transformateurAjouter.cooling"
        />
        <label for="address" class="formbold-form-label" style="color: #122151;"> Frequence <small style="color: red;">*</small></label>

        <input
          name="frequency"
          placeholder="Frequence"
          class="formbold-form-input"
          [(ngModel)]="transformateurAjouter.frequency"
        />
      </div>
      <div class="formbold-input-wrapp formbold-mb-3">
        <label for="firstname" class="formbold-form-label" style="color: #122151;"> Libelle <small style="color: red;">*</small></label>
        <div>
          <select class="formbold-form-input" name="occupation" id="occupation" name="couplage" [(ngModel)]="transformateurAjouter.libelle">
            <option value="" disabled selected>Sélectionner le couplage</option>
            <option value="Aluminum">Aluminum</option>
            <option value="Cuivre">Cuivre</option>
          </select>
        </div>
      </div>
      <div class="formbold-mb-3">
        <label for="upload" class="formbold-form-label" style="color: #122151;">
          Téléchargez une photo
        </label>
        <input
          type="file"
          name="upload"
          id="upload"
          class="formbold-form-input formbold-form-file"
        />
      </div>

      <div class="formbold-checkbox-wrapper">
        <label for="supportCheckbox" class="formbold-checkbox-label">
          <div class="formbold-relative">
            <input
              type="checkbox"
              id="supportCheckbox"
              class="formbold-input-checkbox"
            />
          </div>
        </label>
      </div>

      <button class="formbold-btn"  (click)="submitForm()">Ajouter</button>

  </div>
</div>
