<div class="formbold-main-wrapper">
  <!-- Author: FormBold Team -->
  <!-- Learn More: https://formbold.com -->
  <div class="formbold-form-wrapper">
         <img src="assets/Logo.png" style="    margin-left: 320px;">
    <form action="https://formbold.com/s/FORM_ID" method="POST">
      <div class="formbold-input-wrapp formbold-mb-3">
        <label for="firstname" class="formbold-form-label"> Marque / Id </label>

        <div>
          <input
            placeholder="Tunisie transformateurs"
            class="formbold-form-input"
          />

          <input

            placeholder="Numero"
            class="formbold-form-input"
          />
        </div>
      </div>

      <div class="formbold-mb-3">
        <label for="age" class="formbold-form-label"> Client </label>
        <input
          placeholder="Client"
          class="formbold-form-input"
        />
      </div>

      <div class="formbold-mb-3">
        <label for="age" class="formbold-form-label"> Norme </label>
        <input
          placeholder="Norme"
          class="formbold-form-input"
        />
      </div>

      <div class="formbold-mb-3">
        <label class="formbold-form-label">Couplage</label>

        <select class="formbold-form-input" name="occupation" id="occupation">
          <option value="Mono">Mono</option>
          <option value="YNYN">Ynyn</option>
          <option value="DYN">Dyn</option>
          <option value="YZ">YZ</option>
        </select>
      </div>

      <div class="formbold-mb-3">
        <label for="email" class="formbold-form-label"> Puissance </label>
        <input
          placeholder="Puissance"
          class="formbold-form-input"
        />
      </div>

      <div class="formbold-mb-3">
        <label for="address" class="formbold-form-label"> Nbr des phases </label>

        <input
          placeholder="Nbr des phases"
          class="formbold-form-input formbold-mb-3"
        />
        <label for="address" class="formbold-form-label"> Prises </label>

        <input
          placeholder="Prises"
          class="formbold-form-input"
        />
      </div>

      <div class="formbold-mb-3">
        <label for="address" class="formbold-form-label"> MT:U1 </label>

        <input
          placeholder="MT:U1"
          class="formbold-form-input formbold-mb-3"
        />
        <label for="address" class="formbold-form-label"> BT:U2 </label>

        <input
          placeholder="BT:U2"
          class="formbold-form-input"
        />
      </div>

      <div class="formbold-mb-3">
        <label for="address" class="formbold-form-label"> Refroidissement	 </label>

        <input
          placeholder="Refroidissement"
          class="formbold-form-input formbold-mb-3"
        />
        <label for="address" class="formbold-form-label"> Frequence </label>

        <input
          placeholder="Frequence"
          class="formbold-form-input"
        />
      </div>
      <div class="formbold-mb-3">
        <label for="upload" class="formbold-form-label">
          Téléchargez une photo
        </label>
        <input
          type="file"
          name="upload"
          id="upload"
          class="formbold-form-input formbold-form-file"
        />
      </div>

      <div class="formbold-checkbox-wrapper">
        <label for="supportCheckbox" class="formbold-checkbox-label">
          <div class="formbold-relative">
            <input
              type="checkbox"
              id="supportCheckbox"
              class="formbold-input-checkbox"
            />
          </div>
        </label>
      </div>

      <button class="formbold-btn">Submit</button>
    </form>
  </div>
</div>
