.masthead {
  height: 100vh;
  min-height: 500px;
  background-image: url('https://source.unsplash.com/BtbjCFUvBXs/1920x1080');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #51121E;
  font-family: 'Helvetica', sans-serif; /* Change the font family as needed */
}

.masthead h1 {
  font-size: 2.5rem; /* Adjust the font size as needed */
  margin: 0;
  padding: 20px;
  /* Remove the background-color property */
  border-radius: 8px; /* Add border radius for a cleaner look */
}
.masthead .logo {
  /* Add styles for your logo */
  transition: transform 0.3s ease-in-out; /* Add a smooth transition effect */
}

.masthead .logo:hover {
  transform: scale(1.1); /* Adjust the scale factor as needed */
}
